NODE_ENV=development
PORT=3001
JWT_PASSPHRASE=SECRET
BCRYPT_SALT=5

MYSQL_DB_HOST="127.0.0.1"
MYSQL_DB_USERNAME="root"
MYSQL_DB_PASSWORD="@Digvijay92"
MYSQL_DB_NAME="futurepia_db"

FUTUREPIA_API_URL="http://testnet.futurepia.io:3030"
FUTUREPIA_ADMIN_USERNAME="digvijaywebiqon"
FUTUREPIA_ADMIN_PASSWORD="@Digvijay92"

ETHEREUM_NODE_URL="http://127.0.0.1:7545"
DEFAULT_ACCOUNT="0x3852AC4980c906f5f65587C943D07D7d1C54FfE3"
GAS=3600000
GAS_PRICE=20000000000
GAS_LOW=110000